
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

.grid-container {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	gap: 1rem;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3.5rem;
		cursor: pointer;
		border: 2px solid $text-color;
		border-radius: 10px;

		&:hover {
			opacity: 0.8;
		}
	}

}

.board {
	display: grid;
	grid-template-columns: repeat(3, auto);
}


