// Colors
$primary-color: #8175FF;
$secondary-color: #69ACFF;
$primary-background-color: #222;
$text-color: rgb(216, 216, 216);
$player1-color: #ffa02e;
$player2-color: #62fffc;

// Fonts
$main-font: 'Asap', sans-serif;

// toggle NPC
$toggle-indicator-size: 25px; // changing this number will resize the whole toggle
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 2.5;
$track-border: $secondary-color;
$speed: 0.2s;